# 最新年度を無視
main_2027/

# TeX関連ファイルを無視
*.aux
*.log
*.out
*.dvi
*.synctex.gz
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl-SAVE-ERROR
*.bcf
*.run.xml
*.synctex.gz(busy)
*.synctex(busy)
*.k1

# 参考元を無視
KT1A+1/